<div class="content-padding">
<table>
    <thead>
        <tr>
            <td>{{ 'PLUGIN_SQUIDCART.CUSTOMER'|t|upper }}</td>
            {#<td>CARD</td>#}
            <td class="right">{{ 'PLUGIN_SQUIDCART.CREATED'|t|upper }}</td>
        </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
        {% set card = customer.sources.data|first %}
            <tr>
                <td>
                    <a href="{{ uri.path }}/customer:{{ customer.id }}">
                        {{ customer.description ? customer.description ~ ' — ' : customer.shipping.name ? customer.shipping.name ~ ' — ' }}{{ customer.email }}
                    </a>
                </td>
                <td class="right">{{ customer.created|date('Y/m/d H:i') }}</td>
            </tr>
    {% endfor %}
    </tbody>
</table>
</div>
