<div class="content-padding">
    <table>
        <thead>
        <tr>
            <td class="expandable shrink"></td>
            <td class="center">{{ 'PLUGIN_SQUIDCART.AMOUNT'|tu|upper }}</td>
            <td class="center">{{ 'PLUGIN_SQUIDCART.STATUS'|tu|upper }}</td>
            <td class="triple">{{ 'PLUGIN_SQUIDCART.ID'|tu|upper }}</td>
            <td class="right">{{ 'PLUGIN_SQUIDCART.ITEMS'|tu|upper }}</td>
            <td class="right">{{ 'PLUGIN_SQUIDCART.DATE'|tu|upper }}</td>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            {% set card = customer.sources.data|first %}
            <tr>{{ dump(order) }}
                <td class="expandable shrink"><i class="fa fa-chevron-right"></i></td>
                <td class="center bold">{{ order.amount|price }}</td>
                <td class="center"><div class="badge {{ order.status }}">{{ order.status }}</div></td>
                <td class="triple bold"><a target="_blank" href="https://dashboard.stripe.com/{{ squidcart.mode }}/orders/{{ order.id }}"><i class="fa fa-external-link"></i> {{ order.id }}</a></td>
                <td class="right">{{ 'PLUGIN_SQUIDCART.NUM_ITEMS'|tu|format(order.items|length-2) }}</td>
                <td class="right">{{ order.created|date('Y/m/d H:i') }}</td>
                <td class="details">
                    <div class="details-wrapper">
                        <div class="details-section">
                            <div class="details-section">
                                <b>{{ 'PLUGIN_SQUIDCART.INFO'|tu }}</b>
                                <div class="details-container">
                                    <dl class="section-define-left">
                                        <dt>{{ 'PLUGIN_SQUIDCART.ID'|tu }}</dt>
                                        <dd>{{ order.id }}</dd>
                                        <dt>{{ 'PLUGIN_SQUIDCART.CUSTOMER'|tu }}</dt>
                                        <dd><a href="https://dashboard.stripe.com/{{ squidcart.mode }}/customers/{{ order.customer }}" target="_blank"><i class="fa fa-external-link"></i> {{ order.customer }}</a></dd>
                                        <dt>{{ 'PLUGIN_SQUIDCART.EMAIL'|tu }}</dt>
                                        <dd>{{ order.email }}</dd>
                                    </dl>
                                </div>
                            </div>
                            <b>{{ 'PLUGIN_SQUIDCART.ITEMS'|tu }}</b>
                            <div class="details-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="triple">{{ 'PLUGIN_SQUIDCART.PRODUCT'|tu|upper }}</td>
                                            <td class="double">{{ 'PLUGIN_SQUIDCART.DESCRIPTION'|tu|upper }}</td>
                                            <td class="center">{{ 'PLUGIN_SQUIDCART.QUANTITY'|tu|upper }}</td>
                                            <td class="right">{{ 'PLUGIN_SQUIDCART.PRICE'|tu|upper }}</td>
                                            <td class="right">{{ 'PLUGIN_SQUIDCART.TOTAL'|tu|upper }}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in order.items %}
                                        <tr>
                                            <td class="triple bold">{{ item.type is same as('sku') ? item.parent }}</td>
                                            <td class="double">{{ item.description }}</td>
                                            <td class="center">{{ item.quantity }}</td>
                                            <td class="right">{{ item.amount|price }}</td>
                                            <td class="right">{{ (item.quantity * item.amount)|price }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="details-section">
                            <b>{{ 'PLUGIN_SQUIDCART.SHIPPING'|tu }}</b>
                            <div class="details-container">
                                <dl class="section-define-left">
                                    <dt>{{ 'PLUGIN_SQUIDCART.RECIPIENT'|tu }}</dt>
                                    <dd>{{ order.shipping.name }}</dd>
                                    <dt>{{ 'PLUGIN_SQUIDCART.PHONE'|tu }}</dt>
                                    <dd>{{ order.shipping.phone }}</dd>
                                    <dt>{{ 'PLUGIN_SQUIDCART.CARRIER'|tu }}</dt>
                                    <dd>{{ order.shipping.carrier }}</dd>
                                    <dt>{{ 'PLUGIN_SQUIDCART.TRACKING_NUMBER'|tu }}</dt>
                                    <dd>{{ order.shipping.tracking_number }}</dd>
                                </dl>
                                <dl class="section-define-right">
                                    <dt class="address">{{ 'PLUGIN_SQUIDCART.ADDRESS'|tu }}</dt>
                                    <dd class="address">
                                        {% set address = order.shipping.address %}
                                        <strong>{{ address.line1 }}</strong></br>
                                        {{ address.line2 }}
                                        {{ address.city ? address.city ~ ',' }}
                                        {{ address.postal_code ? address.postal_code ~ ',' }}
                                        {{ address.state ? address.state ~ ',' }}
                                        {{ address.country ? address.country }}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
