{% set product = getProduct(id, true) %}


<div class="pure-g" id="product">
    <div class="pure-u-1-2 content-padding">
        <a class="" href="{{ uri.path }}"><i class="fa fa-chevron-left"></i>back</a>
    </div>
    <div class="pure-u-1-2 content-padding text-right">
        <a class="" href="https://dashboard.stripe.com/{{ squidcart.mode }}/orders/products/{{ id }}" target="_blank">view in stripe</a>
    </div>
    <div class="pure-u-1-8 content-padding pt-0">
        <img class="rounded" src="{{ product.images|first }}" alt="{{ product.id }}"/>
    </div>
    <div class="pure-u-3-4 content-padding px-0 pt-0">
        <h1 class="my-0 px-0 py-0">{{ product.name }}</h1>
        <h6 class="my-0 pt-2">{{ product.id }}</h6>
    </div>
    <div class="pure-u-1-8 content-padding pt-0 text-right"></div>
    <div class="details pure-u-1 content-padding pt-0">
        <div class="details-wrapper d-block">
            <div class="details-section">
                <b>{{ 'PLUGIN_SQUIDCART.INFO'|tu }}</b>
                <div class="details-container">
                    <dl class="section-define-left">
                        <dt>{{ 'PLUGIN_SQUIDCART.ID'|tu }}</dt>
                        <dd>{{ product.id }}</dd>
                        <dt>{{ 'PLUGIN_SQUIDCART.CREATED'|tu|capitalize }}</dt>
                        <dd>{{ product.created|date('Y/m/d H:i') }}</dd>
                        <dt>{{ 'PLUGIN_SQUIDCART.NAME'|tu }}</dt>
                        <dd>{{ product.name }}</dd>
                        <dt>{{ 'PLUGIN_SQUIDCART.CAPTION'|tu }}</dt>
                        <dd>{{ product.caption }}</dd>
                        <dt>{{ 'PLUGIN_SQUIDCART.DESCRIPTION'|tu }}</dt>
                        <dd>{{ product.description }}</dd>
                    </dl>
                    <dl class="section-define-right">
                        <dt>{{ 'PLUGIN_SQUIDCART.STATUS'|tu }}</dt>
                        <dd>{% if product.active %}
                               <span style="color:green">{{ 'PLUGIN_SQUIDCART.ACTIVE'|tu }} <i class="fa fa-check"></i></span>
                            {% else %}
                                <span style="color:grey">{{ 'PLUGIN_SQUIDCART.INACTIVE'|tu }}</span>
                            {% endif %}</dd>
                        <dt>{{ 'PLUGIN_SQUIDCART.ATTRIBUTES'|tu }}</dt>
                        <dd>{% for attr in product.attributes %}<span class="badge mr-2">{{ attr }} </span>{% endfor %}</dd>
                        <dt>{{ 'PLUGIN_SQUIDCART.SHIPPABLE'|tu }}</dt>
                        <dd>{{ product.shippable ? 'PLUGIN_ADMIN.YES'|tu : 'PLUGIN_ADMIN.NO'|tu }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1 content-padding pt-0 ml-neg2">
        <b class="pl-2" style="font-size: 13px">{{ 'PLUGIN_SQUIDCART.IMAGES'|tu }}</b><br class="mb-3">
        {% spaceless %}
            <div id="sortable">
            {% for img in product.images %}
                <div class="pure-u-1-4 px-2">
                    <img class="rounded" src="{{ img }}" alt="{{ product.id }}"/>
                </div>
            {% endfor %}
            </div>
        {% endspaceless %}
    </div>
    <div class="details pure-u-1 content-padding pt-0">
        <div class="details-wrapper d-block">
            <div class="details-section">
                <b>{{ 'PLUGIN_SQUIDCART.INVENTORY'|tu }}</b>
                <div class="details-container">
                    <table>
                        <tbody>
                        {% for item in product.skus %}
                            <tr>
                                <td class="expandable shrink"><i class="fa fa-chevron-right"></i></td>
                                <td class="quadruple bold">{{ item.id }}</td>
                                <td class="triple right"><span class="badge">{{ item.active ? 'PLUGIN_SQUIDCART.ACTIVE'|tu : 'PLUGIN_SQUIDCART.INACTIVE'|tu }}</span></td>
                                <td class="">
                                    {% for attr in product.attributes %}
                                        {{ attribute(item.attributes, attr) }}{{ loop.last ? '' : ',' }}
                                    {% endfor %}
                                </td>
                                <td class="right">
                                    {% if item.inventory.type is sameas('bucket') %}
                                        {{ ('PLUGIN_SQUIDCART.' ~ item.inventory.value|upper)|tu|raw }}
                                    {% elseif item.inventory.type is sameas('finite') %}
                                        {% set color = item.inventory.quantity < 10 ? 'orange' : 'black' %}
                                        {{ 'PLUGIN_SQUIDCART.LEFT'|tu|format(color,item.inventory.quantity)|raw }}
                                    {% endif %}
                                </td>
                                <td class="right"><a href="#"><i class="fa fa-close"></i> {{ 'PLUGIN_SQUIDCART.DELETE'|tu }}</a></td>
                                <td class="center"><a href="#"><i class="fa fa-edit"></i> {{ 'PLUGIN_SQUIDCART.EDIT'|tu }}</a></td>
                                <td class="details p-0">
                                    <div class="details-wrapper">
                                        <div class="details-section">
                                            <div class="details-container m-0 no-border bt">
                                                <dl class="section-define-left">
                                                    <dt>{{ 'PLUGIN_SQUIDCART.ID'|tu }}</dt>
                                                    <dd>{{ item.id }}</dd>
                                                    <dt>{{ 'PLUGIN_SQUIDCART.CREATED'|tu|capitalize }}</dt>
                                                    <dd>{{ item.created|date('Y/m/d H:i') }}</dd>
                                                    <dt>{{ 'PLUGIN_SQUIDCART.INVENTORY'|tu }}</dt>
                                                    <dd>{{ item.inventory.type|capitalize }}</dd>
                                                    <dt>{{ 'PLUGIN_SQUIDCART.AVAILABILITY'|tu }}</dt>
                                                    <dd>
                                                        {% if item.inventory.type is sameas('bucket') %}
                                                            {{ ('PLUGIN_SQUIDCART.' ~ item.inventory.value|upper)|tu|raw }}
                                                        {% elseif item.inventory.type is sameas('finite') %}
                                                            {% set color = item.inventory.quantity < 10 ? 'orange' : 'black' %}
                                                            {{ 'PLUGIN_SQUIDCART.LEFT'|tu|format(color,item.inventory.quantity)|raw }}
                                                        {% endif %}
                                                    </dd>
                                                </dl>
                                                <dl class="section-define-right">
                                                    <dt>{{ 'PLUGIN_SQUIDCART.STATUS'|tu }}</dt>
                                                    <dd>{% if product.active %}
                                                            <span style="color:green">{{ 'PLUGIN_SQUIDCART.ACTIVE'|tu }} <i class="fa fa-check"></i></span>
                                                        {% else %}
                                                            <span style="color:grey">{{ 'PLUGIN_SQUIDCART.INACTIVE'|tu }}</span>
                                                        {% endif %}</dd>
                                                    <dt>{{ 'PLUGIN_SQUIDCART.PRICE'|tu }}</dt>
                                                    <dd>{{ item.price|price }}</dd>
                                                    <dt>{{ 'PLUGIN_SQUIDCART.ATTRIBUTES'|tu }}</dt>
                                                    <dd>
                                                        {% for attr in product.attributes %}
                                                            {{ attribute(item.attributes, attr) }}{{ loop.last ? '' : ',' }}
                                                        {% endfor %}
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ dump(getProduct(id, true)) }}
