{% extends 'partials/base.html.twig' %}

{% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/base-min.css', 10) %}
{% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/grids-min.css',10) %}
{% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css',10) %}

{#{% do assets.addJs('https://cdn.jsdelivr.net/npm/pjax/pjax.min.js') %}#}

{% set title = "PLUGIN_ADMIN.DASHBOARD"|tu %}
{% set slug = uri.basename|e %}
{% set body_classes = 'squidcart' %}
{% set storedValue = get_cookie('grav-tabs-state')|default('{}')|json_decode %}
{% set storedTab = attribute(storedValue, 'squidcart-tabs') %}

{% block titlebar %}
    <div class="button-bar">
        <a href="https://dashboard.stripe.com/{{ squidcart.mode }}/dashboard" target="_blank" class="button">{{ "PLUGIN_SQUIDCART.STRIPE_LINK"|tu }}</a>
    </div>
    <div>
        <i class="fa fa-fw fa-4x fa-cc-stripe"></i><h1 class="title">{{ "PLUGIN_SQUIDCART.SQUIDCART"|tu }}</h1>
        <div class="mode-container">
            <div class="mode-banner {{ squidcart.mode }}">
                <div class="mode-content {{ squidcart.mode }}"><span>{{ squidcart.mode|upper }} DATA</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content_top %}
    <div class="form-tabs">
        <div class="tabs-nav">
            <a class="tab__link {{ storedTab is same as('data.dashboard') ? 'active' }}" data-tabid="squidcart-tabs.dashboard" data-tabkey="squidcart-tabs" data-scope="data.dashboard">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>&nbsp;{{ "PLUGIN_SQUIDCART.DASHBOARD"|tu }}</span>
            </a>
            <a class="tab__link {{ storedTab is same as('data.orders') ? 'active' }}" data-tabid="squidcart-tabs.orders" data-tabkey="squidcart-tabs" data-scope="data.orders">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <span>&nbsp;{{ "PLUGIN_SQUIDCART.ORDERS"|tu }}</span>
            </a>
            <a class="tab__link {{ storedTab is same as('data.products') ? 'active' }}" data-tabid="squidcart-tabs.products" data-tabkey="squidcart-tabs" data-scope="data.products">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>&nbsp;{{ "PLUGIN_SQUIDCART.PRODUCTS"|tu }}</span>
            </a>
            <a class="tab__link {{ storedTab is same as('data.customers') ? 'active' }}" data-tabid="squidcart-tabs.customers" data-tabkey="squidcart-tabs" data-scope="data.customers">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                <span>&nbsp;{{ "PLUGIN_SQUIDCART.CUSTOMERS"|tu }}</span>
            </a>
            <a class="tab__link {{ storedTab is same as('data.coupons') ? 'active' }}" data-tabid="squidcart-tabs.coupons" data-tabkey="squidcart-tabs" data-scope="data.coupons">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <span>&nbsp;{{ "PLUGIN_SQUIDCART.COUPONS"|tu }}</span>
            </a>
        </div>
{% endblock %}

{% block content %}
    <div id="squidcart-content" class="tabs-content">
        <div id="squidcart-tabs.dashboard" class="tab__content  {{ storedTab is same as('data.dashboard') ? 'active' }}">
            <div class="form-tab">
                {% include "partials/dashboard.html.twig" %}
            </div>
        </div>
        <div id="squidcart-tabs.orders" class="tab__content {{ storedTab is same as('data.orders') ? 'active' }}">
            <div class="form-tab">
                {% include "partials/orders.html.twig" %}
            </div>
        </div>
        <div id="squidcart-tabs.products" class="tab__content {{ storedTab is same as('data.products') ? 'active' }}">
            <div class="form-tab">
                {% set product = uri.param('product') %}
                {% if product %}
                    {% include "partials/product.html.twig" with {id: product} %}
                {% else %}
                    {% include "partials/products.html.twig" %}
                {% endif %}
            </div>
        </div>
        <div id="squidcart-tabs.customers" class="tab__content {{ storedTab is same as('data.customers') ? 'active' }}">
            <div class="form-tab">
                {% set customer = uri.param('customer') %}
                {% if customer %}
                    {% include "customer/customer.html.twig" with {id: customer} %}
                {% else %}
                    {% include "partials/customers.html.twig" %}
                {% endif %}
            </div>
        </div>
        <div id="squidcart-tabs.coupons" class="tab__content {{ storedTab is same as('data.coupons') ? 'active' }}">
            <div class="form-tab">
                {% set coupon = uri.param('coupon') %}
                {% if coupon %}
                    {% include "coupons/coupon.html.twig" with {id: coupon} %}
                {% else %}
                    {% include "partials/coupons.html.twig" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content_bottom %}
    {% include 'modals/unsaved.html.twig' %}
    {% include 'modals/action.html.twig' %}
{% endblock %}
